
    <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Parcial 2 - DPS</h3>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a routerLink='/regCliente'>Registrar cliente nuevo</a>
                        <br>
                        <a routerLink='/listCliente'>Lista de clientes</a>
                        <br>
                        <a routerLink='/regConsulta'>Registrar consulta</a>
                        <br>
                        <br>
                        <a href='#'>Cerrar Sesión</a>
                        <br>
                    </li>
                </ul>


            </nav>
        </div>



         