<div [hidden]="enviar" class="card">
   <h3 class="card-title text-center">REGISTRO DE CONSULTAS</h3>
   <div class="card-body">
       <form #tiendaform = "ngForm" (ngSubmit)="registrarCita()">
           <div class="form-group">
               <label for="dui">Seleccione un DUI</label>
               <select class="form-control" name="dui" [(ngModel)]="duiClienteSeleccionado" (change)="seleccionarCliente()" #duiCliente="ngModel" required>
                   <option value="">--- Elige un DUI ---</option>
                   <option *ngFor="let cliente of clientes"  [value]="cliente.DUI">{{cliente.DUI}}</option>
               </select>
           </div>
           <div class="form-group">
               <label for="cliente">Nombre del cliente</label>
               <input type="text" name="cliente" class="form-control" [value]="clienteSeleccionado.nombre" readonly>
           </div>
           <div class="form-group">
               <label for="mascota">Nombre de mascota</label>
               <select class="form-control" name="mascota" [(ngModel)]="nombreMascotaSeleccionada" #nombreMascota="ngModel" (change)="descuentoAplicado()" required>
                   <option value="">--- Elige una mascota ---</option>
                   <option *ngFor="let mascota of clienteSeleccionado.mascotas"  [value]="mascota.nombre">{{mascota.nombre}}</option>
               </select>
           </div>
           <div class="form-group">
               <label for="medicamento">Agregar medicamento</label>
               <select class="form-control" name="medicamento" [(ngModel)]="precioMedicamento" (change)="calcularCostos()" #medicamento="ngModel" required>
                   <option value="0">--- Elige un servicio ---</option>
                   <option *ngFor="let medicamento of medicamentos" [value]="medicamento.precio">{{medicamento.nombre}}</option>
               </select>
           </div>
           <div class="form-group">
               <label for="servicio">Servicio a brindar</label>
               <select class="form-control" name="servicio" [(ngModel)]="precioServicio" (change)="calcularCostos()" #servicio="ngModel" required>
                   <option value="0">--- Elige un servicio ---</option>
                   <option *ngFor="let servicio of servicios" [value]="servicio.precio">{{servicio.nombre}}</option>
               </select>
           </div>
           <div class="form-group">
               <label for="citas">Cantidad de consultas de la mascota</label>
               <input type="text" name="consultasMascota" class="form-control" [value]="consultasMascota" readonly>
           </div>
           <div class="form-group">
               <label for="precioSin">subtotal</label>
               <input type="text" name="subtotal" class="form-control" [value]="subtotal" readonly>
           </div>
           <div class="form-group">
               <label for="descuento">Descuento a aplicar</label>
               <input type="text" name="descuento" class="form-control" [value]="descuento" readonly>
           </div>
           <div class="form-group">
               <label for="precioCon">Total</label>
               <input type="text" name="total" class="form-control" [value]="total" readonly>
           </div>
           <button type="submit" class="btn btn-primary" [disabled]="!tiendaform.form.valid">Registar</button>
       </form>
   </div>
</div>
